<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Algorand2" version="1.0.0.15" targetFramework="net471" />
  <package id="BouncyCastle.NetCore" version="1.8.8" targetFramework="net471" />
  <package id="JsonSubTypes" version="1.9.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="MsgPack.Cli" version="1.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Msgpack" version="0.1.11" targetFramework="net471" />
  <package id="RestSharp" version="106.12.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net471" />
</packages>